.my-container {
    position: relative;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
	font-family: "Open sans";
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}