@font-face { font-family: Delicious; src: url('Bariol_Regular.otf'); }
@font-face { font-family: Ailerons; src: url('Ailerons-Typeface.otf'); }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	display: block;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.head{
	font-family: Delicious;
	font-size: 250%;
}
h3 {
	font-family: Delicious;
	
}