.test1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
}
body {
    text-align: center;
    background-image: url("img/giphy.gif");
}
iframe {
    style="visibility:hidden;display:none";
}
