
body {
	background-color: white;
	text-align: center;
	color: white;
}

img {
	width: 200px;
	border-radius: 50%;
}

.pead {
	background-color:#0000CC; 
    color: white;
    text-align:center;
    padding:5px;
	
}
